{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}


{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
  <div class="container-fluid">
    {% include "layout/breadcrumb.html" %}
    <div class="row">

      {% include "forms-table/table/data-table/datatable-advance/components/DOM-jQuery.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/data-tables.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/column.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/page-length.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/multiple-table.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/complex.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/read.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/language.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/setting.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/row.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/row-grouping.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/footer.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/footer-callback.html" %}
      {% include "forms-table/table/data-table/datatable-advance/components/order-direction.html" %}

    </div>
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}