{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container-fluid">
        {% include "layout/breadcrumb.html" %}
        <div class="row">
            <div class="col-sm-12">
                {% include "applications/ecommerce/order-history/components/new-orders.html" %}
                {% include "applications/ecommerce/order-history/components/shipped-orders.html" %}
                {% include "applications/ecommerce/order-history/components/cancelled-orders.html" %}



            </div>

            {% include "applications/ecommerce/order-history/components/datatable-order.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}