{% load static %} {% load sass_tags %}

<div class="col-xxl-4 col-xl-5 col-md-6 col-sm-7 notification box-col-6">
  <div class="card height-equal"> 
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Activity</h5>
        <div class="card-header-right-icon">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item" href="#">Yesterday  </a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <ul> 
        <li class="d-flex">
          <div class="activity-dot-primary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">8th March, 2022 </span><span>1 day ago</span></p>
            <h6>Updated Product<span class="dot-notification"></span></h6>
            <p class="f-light">Quisque a consequat ante sit amet magna...</p>
          </div>
        </li>
        <li class="d-flex">
          <div class="activity-dot-warning"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">15th Oct, 2022 </span><span>Today</span></p>
            <h6>Tello just like your product<span class="dot-notification"></span></h6>
            <p>Quisque a consequat ante sit amet magna... </p>
          </div>
        </li>
        <li class="d-flex">
          <div class="activity-dot-secondary"></div>
          <div class="w-100 ms-3">
            <p class="d-flex justify-content-between mb-2"><span class="date-content light-background">20th Sep, 2022 </span><span>12:00 PM</span></p>
            <h6>Tello just like your product<span class="dot-notification"></span></h6>
            <p>Quisque a consequat ante sit amet magna... </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xxl-4 col-md-6 appointment-sec box-col-6">
  <div class="appointment">
    <div class="card">
      <div class="card-header card-no-border">
        <div class="header-top">
          <h5 class="m-0">Recent Clients</h5>
          <div class="card-header-right-icon">
            <div class="dropdown">
              <button class="btn dropdown-toggle" id="recentButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Today</button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="recentButton"><a class="dropdown-item" href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item" href="#">Yesterday</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="appointment-table table-responsive">
          <table class="table table-bordernone">
            <tbody>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/1.jpg'%}" alt="user"></td>
                <td class="img-content-box"><a class="d-block f-w-500" href="user-profile.html">Jane Cooper</a><span class="f-light">10 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Opened case</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/2.jpg'%}" alt="user"></td>
                <td class="img-content-box"><a class="d-block f-w-500" href="user-profile.html">Brooklyn Simmons</a><span class="f-light">19 minutes ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Opened case</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/3.jpg'%}" alt="user"></td>
                <td class="img-content-box"><a class="d-block f-w-500" href="user-profile.html">Leslie Alexander</a><span class="f-light">2 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Opened case</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/4.jpg'%}" alt="user"></td>
                <td class="img-content-box"><a class="d-block f-w-500" href="user-profile.html">Travis Wright</a><span class="f-light">8 hours ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Opened case</p>
                </td>
              </tr>
              <tr>
                <td><img class="img-fluid img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/5.jpg'%}" alt="user"></td>
                <td class="img-content-box"><a class="d-block f-w-500" href="user-profile.html">Mark Green</a><span class="f-light">1 day ago</span></td>
                <td class="text-end">
                  <p class="m-0 font-success">Opened case</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
