{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/calendar.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid calendar-basic">
            {% include "layout/breadcrumb.html" %}


            {% include "applications/calendar/components/calendar.html" %}
      </div>
</div>


{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/calendar/fullcalendar.min.js'%}"></script>
<script src="{% static 'assets/js/calendar/fullcalendar-custom.js'%}"></script>

<!-- Plugins JS Ends-->
{% endblock %}