{% load static %}
{% load sass_tags %}
<div class="col-xxl-3 col-md-6 box-col-6 col-ed-none wow zoomIn">
  <div class="card purchase-card"><img class="img-fluid" src="{% static 'assets/images/dashboard/purchase.png'%}" alt="vector mens with leptop">
    <div class="card-body pt-3"> 
      <h6 class="mb-3">Buy <a href="#">Pro Account </a>to Explore Primium Features</h6><a class="purchase-btn btn btn-primary btn-hover-effect f-w-500" href="https://1.envato.market/3GVzd" target="_blank">Purchase Now</a>
    </div>
  </div>
</div>
<div class="col-xxl-4 col-md-6 box-col-6 col-ed-6"> 
  <div class="row"> 
    <div class="col-xl-12"> 
      <div class="card">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5>Total Users</h5>
            <div class="dropdown icon-dropdown">
              <button class="btn dropdown-toggle" id="userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <ul class="user-list">
            <li> 
              <div class="user-icon primary">
                <div class="user-box"><i class="font-primary" data-feather="user-plus"></i></div>
              </div>
              <div> 
                <h5 class="mb-1">178,098</h5><span class="font-primary d-flex align-items-center"><i class="icon-arrow-up icon-rotate me-1"> </i><span class="f-w-500">+30.89</span></span>
              </div>
            </li>
            <li> 
              <div class="user-icon success">
                <div class="user-box"><i class="font-success" data-feather="user-minus"></i></div>
              </div>
              <div> 
                <h5 class="mb-1">178,098</h5><span class="font-danger d-flex align-items-center"><i class="icon-arrow-down icon-rotate me-1"></i><span class="f-w-500">-08.89</span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-12"> 
      <div class="card growth-wrap">
        <div class="card-header card-no-border">
          <div class="header-top">
            <h5>Followers Growth</h5>
            <div class="dropdown icon-dropdown">
              <button class="btn dropdown-toggle" id="growthdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthdropdown"><a class="dropdown-item" href="#">Weekly</a><a class="dropdown-item" href="#">Monthly</a><a class="dropdown-item" href="#">Yearly</a></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="growth-wrapper">
            <div id="growthchart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xxl-5 col-lg-8 col-md-11 box-col-8 col-ed-6"> 
  <div class="card papernote-wrap">
    <div class="card-header card-no-border">
      <div class="header-top"> 
        <h5>PaperNote</h5><a class="f-light d-flex align-items-center" href="#">View project <i class="f-w-700 icon-arrow-top-right"></i></a>
      </div>
    </div>
    <div class="card-body pt-0"> <img class="banner-img img-fluid" src="{% static 'assets/images/dashboard/papernote.jpg'%}" alt="multicolor background">
      <div class="note-content mt-sm-4 mt-2">
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <div class="note-labels">
          <ul>
            <li> <span class="badge badge-light-primary">SAAS</span></li>
            <li> <span class="badge badge-light-success">E-Commerce</span></li>
            <li> <span class="badge badge-light-warning">Crypto</span></li>
            <li> <span class="badge badge-light-info">Project</span></li>
            <li> <span class="badge badge-light-secondary">NFT</span></li>
            <li> <span class="badge badge-light-light">+9</span></li>
          </ul>
          <div class="last-label"> <span class="badge badge-light-success">Inprogress</span></div>
        </div>
        <div class="mt-sm-4 mt-2 user-details">
          <div class="customers">
            <ul> 
              <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/1.jpg'%}" alt="user"></li>
              <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/6.jpg'%}" alt="user"></li>
              <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/7.jpg'%}" alt="user"></li>
              <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/3.jpg'%}" alt="user"></li>
              <li class="d-inline-block"><img class="img-40 rounded-circle" src="{% static 'assets/images/dashboard/user/8.jpg'%}" alt="user"></li>
              <li class="d-inline-block">
                <div class="light-card"><span class="f-w-500">+5</span></div>
              </li>
            </ul>
          </div>
          <div class="d-flex align-items-center"> 
            <h5 class="mb-0 font-primary f-18 me-1">$239,098</h5><span class="f-light f-w-500">(Budget)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>