{% load static %}
{% load sass_tags %}
<div class="col-xl-3 col-md-4 xl-50">
  <div class="card card-with-border bookmark-card o-hidden">
    <div class="details-website"><img class="img-fluid" src="{% static 'assets/images/lightgallry/07.jpg'%}" alt="">
      <div class="favourite-icon favourite_1" onclick="setFavourite(1)"><a href="#"><i class="fa fa-star"></i></a></div>
      <div class="desciption-data">
        <div class="title-bookmark">
          <h6 class="title_1">Universal Template</h6>
          <p class="weburl_1">https://angular.pixelstrap.com/universal/landing</p>
          <div class="hover-block">
            <ul>
              <li><a href="" onclick="editBookmark(1)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                    data-feather="edit-2"></i></a></li>
              <li><a href="#"><i data-feather="link"></i></a></li>
              <li><a href="#"><i data-feather="share-2"></i></a></li>
              <li><a href="#"><i data-feather="trash-2"></i></a></li>
              <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
            </ul>
          </div>
          <div class="content-general">
            <p class="desc_1">Universal is beautifully crafted, clean and modern designed admin theme</p><span
              class="collection_1">General</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50">
  <div class="card card-with-border bookmark-card o-hidden">
    <div class="details-website"><img class="img-fluid" src="{% static 'assets/images/lightgallry/07.jpg'%}" alt="">
      <div class="favourite-icon favourite_2" onclick="setFavourite(2)"><a href="#"><i class="fa fa-star"></i></a></div>
      <div class="desciption-data">
        <div class="title-bookmark">
          <h6 class="title_2">Angular Theme</h6>
          <p class="weburl_2">https://angular.pixelstrap.com/Easy Law/landing</p>
          <div class="hover-block">
            <ul>
              <li><a href="" onclick="editBookmark(2)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                    data-feather="edit-2"></i></a></li>
              <li><a href="#"><i data-feather="link"></i></a></li>
              <li><a href="#"><i data-feather="share-2"></i></a></li>
              <li><a href="#"><i data-feather="trash-2"></i></a></li>
              <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
            </ul>
          </div>
          <div class="content-general">
            <p class="desc_2">Easy Law is beautifully crafted, clean and modern designed admin theme</p><span
              class="collection_2">Fs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50">
  <div class="card card-with-border bookmark-card o-hidden">
    <div class="details-website"><img class="img-fluid" src="{% static 'assets/images/lightgallry/07.jpg'%}" alt="">
      <div class="favourite-icon favourite_3" onclick="setFavourite(3)"><a href="#"><i class="fa fa-star"></i></a></div>
      <div class="desciption-data">
        <div class="title-bookmark">
          <h6 class="title_3">Multikart Admin</h6>
          <p class="weburl_3">http://themes.pixelstrap.com/multikart/back-end/index.html</p>
          <div class="hover-block">
            <ul>
              <li><a href="" onclick="editBookmark(3)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                    data-feather="edit-2"></i></a></li>
              <li><a href="#"><i data-feather="link"></i></a></li>
              <li><a href="#"><i data-feather="share-2"></i></a></li>
              <li><a href="#"><i data-feather="trash-2"></i></a></li>
              <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
            </ul>
          </div>
          <div class="content-general">
            <p class="desc_3">Multikart Admin is modern designed admin theme</p><span
              class="collection_3">General</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50">
  <div class="card card-with-border bookmark-card o-hidden">
    <div class="details-website"><img class="img-fluid" src="{% static 'assets/images/lightgallry/07.jpg'%}" alt="">
      <div class="favourite-icon favourite_4" onclick="setFavourite(4)"><a href="#"><i class="fa fa-star"></i></a></div>
      <div class="desciption-data">
        <div class="title-bookmark">
          <h6 class="title_4">Ecommerece theme</h6>
          <p class="weburl_4">http://themes.pixelstrap.com/multikart</p>
          <div class="hover-block">
            <ul>
              <li><a href="" onclick="editBookmark(4)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                    data-feather="edit-2"></i></a></li>
              <li><a href="#"><i data-feather="link"></i></a></li>
              <li><a href="#"><i data-feather="share-2"></i></a></li>
              <li><a href="#"><i data-feather="trash-2"></i></a></li>
              <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
            </ul>
          </div>
          <div class="content-general">
            <p class="desc_4">Multikart HTML template is an apparently simple but highly functional tempalate designed
              for creating a flourisahing online business.</p><span class="collection_4">General </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-4 xl-50">
  <div class="card card-with-border bookmark-card o-hidden">
    <div class="details-website"><img class="img-fluid" src="{% static 'assets/images/lightgallry/07.jpg'%}" alt="">
      <div class="favourite-icon favourite_5" onclick="setFavourite(5)"><a href="#"><i class="fa fa-star"></i></a></div>
      <div class="desciption-data">
        <div class="title-bookmark">
          <h6 class="title_5">Tovo app landing page</h6>
          <p class="weburl_5">http://vue.pixelstrap.com/tovo/home-one</p>
          <div class="hover-block">
            <ul>
              <li><a href="" onclick="editBookmark(5)" data-bs-toggle="modal" data-bs-target="#edit-bookmark"><i
                    data-feather="edit-2"></i></a></li>
              <li><a href="#"><i data-feather="link"></i></a></li>
              <li><a href="#"><i data-feather="share-2"></i></a></li>
              <li><a href="#"><i data-feather="trash-2"></i></a></li>
              <li class="pull-right text-end"><a href="#"><i data-feather="tag"></i></a></li>
            </ul>
          </div>
          <div class="content-general">
            <p class="desc_5">Amazing Landing Page With Easy Customization</p><span class="collection_5">Fs </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>