{% load static %}
{% load sass_tags %}

<div class="fade tab-pane" id="pills-notification" role="tabpanel" aria-labelledby="pills-notification-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">notification</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>
<div class="fade tab-pane" id="pills-newsletter" role="tabpanel" aria-labelledby="pills-newsletter-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">Newsletter</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>
<div class="fade tab-pane" id="pills-business" role="tabpanel" aria-labelledby="pills-business-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">Business</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>
<div class="fade tab-pane" id="pills-holidays" role="tabpanel" aria-labelledby="pills-holidays-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">Holidays</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>
<div class="fade tab-pane" id="pills-important" role="tabpanel" aria-labelledby="pills-important-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">Important</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>
<div class="fade tab-pane" id="pills-orgenization" role="tabpanel" aria-labelledby="pills-orgenization-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <h6 class="mb-0">Orgenization</h6>
      <ul>
        <li><a class="grid-bookmark-view" href="#"><i data-feather="grid"></i></a></li>
        <li><a class="list-layout-view" href="#"><i data-feather="list"></i></a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="details-bookmark text-center"><span>No Bookmarks Found.</span></div>
    </div>
  </div>
</div>