{% load static %}
{% load sass_tags %}


<div class="user-profile">
  <div class="row">
    <!-- user profile first-style start-->
    <div class="col-sm-12">
      <div class="card hovercard text-center overflow-hidden">
        <div class="cardheader"></div>
        <div class="user-image">
          <div class="avatar"><img alt="" src="{% static 'assets/images/user/7.jpg'%}"></div>
          <a href="/edit_profile" class="icon-wrapper"><i class="icofont icofont-pencil-alt-5"></i></a>
        </div>
        <div class="info">
          <div class="row">
            <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
              <div class="row">
                <div class="col-md-6">
                  <div class="ttl-info text-start">
                    <h6><i class="fa fa-envelope"></i>   Email</h6><span>Marekjecno@yahoo.com</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ttl-info text-start">
                    <h6><i class="fa fa-calendar"></i>   BOD</h6><span>02 January 1988</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
              <div class="user-designation">
                <div class="title"><a target="_blank" href="">Mark jecno</a></div>
                <div class="desc">designer</div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="ttl-info text-start">
                    <h6><i class="fa fa-phone"></i>   Contact Us</h6><span>India +91 123-456-7890</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ttl-info text-start">
                    <h6><i class="fa fa-location-arrow"></i>   Location</h6><span>B69 Near Schoool Demo Home</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="social-media">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://account.google.com"><i class="fa fa-google-plus"></i></a>
              </li>
              <li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://rss.com/"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
          <div class="follow">
            <div class="row">
              <div class="col-6 text-md-end border-right">
                <div class="follow-num counter">25869</div><span>Follower</span>
              </div>
              <div class="col-6 text-md-start">
                <div class="follow-num counter">659887</div><span>Following</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- user profile first-style end-->
    <!-- user profile second-style start-->
    <div class="col-sm-12">
      <div class="card">
        <div class="profile-img-style">
          <div class="row">
            <div class="col-sm-8">
              <div class="media"><img class="img-thumbnail rounded-circle me-3"
                  src="{% static 'assets/images/user/7.jpg'%}" alt="Generic placeholder image">
                <div class="media-body align-self-center">
                  <h5 class="mt-0 user-name">JOHAN DIO</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-4 align-self-center">
              <div class="float-sm-end"><small>10 Hours ago</small></div>
            </div>
          </div>
          <hr>
          <p>you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
            in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
            necessary, making this the first true generator on the Internet.</p>
          <div class="img-container">
            <div class="my-gallery" id="aniimated-thumbnials" itemscope="">
              <figure itemprop="associatedMedia" itemscope=""><a
                  href="{% static 'assets/images/other-images/profile-style-img3.png'%}" itemprop="contentUrl"
                  data-size="1600x950"><img class="img-fluid rounded"
                    src="{% static 'assets/images/other-images/profile-style-img3.png'%}" itemprop="thumbnail"
                    alt="gallery"></a>
                <figcaption itemprop="caption description">Image caption 1</figcaption>
              </figure>
            </div>
          </div>
          <div class="like-comment">
            <ul class="list-inline">
              <li class="list-inline-item border-right pe-3">
                <label class="m-0"><a href="#"><i class="fa fa-heart"></i></a>  Like</label><span
                  class="ms-2 counter">2659</span>
              </li>
              <li class="list-inline-item ms-2">
                <label class="m-0"><a href="#"><i class="fa fa-comment"></i></a>  Comment</label><span
                  class="ms-2 counter">569</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>