{% load static %}
{% load sass_tags %}

<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Map at a specified location</h5><span>Display a map at a specified location and zoom level.</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map1"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Map using View Bounds</h5><span>Display a map of a given area.</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map2"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Multi-language support</h5><span>Display a map with labels in a foreign language</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map3"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Terrain Map</h5><span>Display a topographical map</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map4"></div>
    </div>
  </div>
</div>