{% load static %}
{% load sass_tags %} <div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Zoom into Bounds</h5><span>Zoom into bounds limiting maximum level</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map9"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Restrict Map Movement</h5><span>Restrict a moveable map to a given rectangular area</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map10"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Screen Layer</h5><span>Display animated screen layer</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map11"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Marker on the Map</h5><span>Display a map highlighting points of interest</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map12"></div>
    </div>
  </div>
</div>