Django>=5.1.4
django_crispy_forms==2.3
Markdown==3.4.1
psycopg2==2.9.10
Requests==2.32.3
markdownify==0.13.1
google-generativeai==0.8.3
django-sass-processor==1.4.1
django-widget-tweaks==1.5.0
django-libsass==0.9
crispy_bootstrap5==2021.10
PyPDF2==5.1.4