{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/todo.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      {% include "layout/breadcrumb.html" %}

     
            {% include "applications/to-do/components/main-todo.html" %}

      
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/todo/todo.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}