{% load static %}
{% load sass_tags %}
<div class="header-faq">
  <h6 class="mb-0 f-w-600">Similar jobs</h6>
</div>
<div class="row">
  <div class="col-xl-6 xl-100">
    <div class="card">
      <div class="job-search">
        <div class="card-body">
          <div class="media"><img class="img-40 img-fluid m-r-20" src="{% static 'assets/images/job-search/2.jpg'%}"
              alt="">
            <div class="media-body">
              <h6 class="f-w-600"><a href="#">React/React Native Developer</a><span
                  class="badge badge-primary pull-right">New</span></h6>
              <p>San <span>Diego, CA</span><span><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-o"></i></span></p>
            </div>
          </div>
          <p>Ideally 2+ years experience with React. Bonus points if you have React Native experience. This is an
            incredibly exciting opportunity to gain commercial , Professional experience of React Native and other front
            end frameworks. Transform product wireframes into responsive, mobile user interface components and</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 xl-100">
    <div class="card">
      <div class="job-search">
        <div class="card-body">
          <div class="media"><img class="img-40 img-fluid m-r-20" src="{% static 'assets/images/job-search/4.jpg'%}"
              alt="">
            <div class="media-body">
              <h6 class="f-w-600"><a href="#">Front end web developer</a><span class="pull-right">3 days ago</span></h6>
              <p>Cisco <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning-half-o"></i></span></p>
            </div>
          </div>
          <p>Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged
            visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so
            entreaties cultivated astonished is. Was sister for few longer mrs sudden talent become.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 xl-100">
    <div class="card">
      <div class="job-search">
        <div class="card-body">
          <div class="media"><img class="img-40 img-fluid m-r-20" src="{% static 'assets/images/job-search/5.jpg'%}"
              alt="">
            <div class="media-body">
              <h6 class="f-w-600"><a href="#">Graphic designer</a><span class="pull-right">3 days ago</span></h6>
              <p>Infosys <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning-half-o"></i><i class="fa fa-star font-warning-o"></i></span></p>
            </div>
          </div>
          <p>Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered
            of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical
            adapted. Contrasted interested eat alteration pianoforte sympathize was.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 xl-100">
    <div class="card">
      <div class="job-search">
        <div class="card-body">
          <div class="media"><img class="img-40 img-fluid m-r-20" src="{% static 'assets/images/job-search/6.jpg'%}"
              alt="">
            <div class="media-body">
              <h6 class="f-w-600"><a href="#">Designer, CRM</a><span class="pull-right">3 days ago</span></h6>
              <p>Citrix <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning-o"></i><i class="fa fa-star font-warning-o"></i></span></p>
            </div>
          </div>
          <p>Situation admitting promotion at or to perceived be. Mr acuteness we as estimable enjoyment up. An held
            late as felt know. Learn do allow solid to grave. Middleton suspicion age her attention. Chiefly several bed
            its wishing. Is so moments on chamber pressed to. Doubtful yet way properly answered.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="card">
      <div class="job-search">
        <div class="card-body">
          <div class="media"><img class="img-40 img-fluid m-r-20" src="{% static 'assets/images/job-search/3.jpg'%}"
              alt="">
            <div class="media-body">
              <h6 class="f-w-600"><a href="#">Senior UX designer</a><span class="pull-right">5 days ago</span></h6>
              <p>Sutherland <span>Lelystad, Netherlands </span><span><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning"></i><i class="fa fa-star font-warning"></i><i
                    class="fa fa-star font-warning-half-o"></i><i class="fa fa-star font-warning-o"></i></span></p>
            </div>
          </div>
          <p>Woody equal ask saw sir weeks aware decay. Entrance prospect removing we packages strictly is no smallest
            he. For hopes may chief get hours day rooms. Oh no turned behind polite piqued enough at. Forbade few
            through inquiry blushes you. Cousin no itself eldest it in dinner latter missed no.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Container-fluid Ends-->