{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">
                  <div class="col-sm-12 col-xl-6">
                        <div class="row">
                              {% include "forms-table/forms/form-layout/default-form/components/default-form.html" %}
                              {% include "forms-table/forms/form-layout/default-form/components/horizontal-form.html" %}
                        </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                        <div class="row">
                              {% include "forms-table/forms/form-layout/default-form/components/mega-form.html" %}
                              {% include "forms-table/forms/form-layout/default-form/components/inline-form.html" %}
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}