<li><span class="icon-arrow-up"></span><em> icon-arrow-up</em></li>
<li><span class="icon-arrow-right"></span><em> icon-arrow-right</em></li>
<li><span class="icon-arrow-left"></span><em> icon-arrow-left</em></li>
<li><span class="icon-arrow-down"></span><em> icon-arrow-down</em></li>
<li><span class="icon-arrows-vertical"></span><em> icon-arrows-vertical</em></li>
<li><span class="icon-arrows-horizontal"></span><em> icon-arrows-horizontal</em></li>
<li><span class="icon-angle-up"></span><em> icon-angle-up</em></li>
<li><span class="icon-angle-right"></span><em> icon-angle-right</em></li>
<li><span class="icon-angle-left"></span><em> icon-angle-left</em></li>
<li><span class="icon-angle-down"></span><em> icon-angle-down</em></li>
<li><span class="icon-angle-double-up"></span><em> icon-angle-double-up</em></li>
<li><span class="icon-angle-double-right"></span><em> icon-angle-double-right</em></li>
<li><span class="icon-angle-double-left"></span><em> icon-angle-double-left</em></li>
<li><span class="icon-angle-double-down"></span><em> icon-angle-double-down</em></li>
<li><span class="icon-move"></span><em> icon-move</em></li>
<li><span class="icon-fullscreen"></span><em> icon-fullscreen</em></li>
<li><span class="icon-arrow-top-right"></span><em> icon-arrow-top-right</em></li>
<li><span class="icon-arrow-top-left"></span><em> icon-arrow-top-left</em></li>
<li><span class="icon-arrow-circle-up"></span><em> icon-arrow-circle-up</em></li>
<li><span class="icon-arrow-circle-right"></span><em> icon-arrow-circle-right</em></li>
<li><span class="icon-arrow-circle-left"></span><em> icon-arrow-circle-left</em></li>
<li><span class="icon-arrow-circle-down"></span><em> icon-arrow-circle-down</em></li>
<li><span class="icon-arrows-corner"></span><em> icon-arrows-corner</em></li>
<li><span class="icon-split-v"></span><em> icon-split-v</em></li>
<li><span class="icon-split-v-alt"></span><em> icon-split-v-alt</em></li>
<li><span class="icon-split-h"></span><em> icon-split-h</em></li>
<li><span class="icon-hand-point-up"></span><em> icon-hand-point-up</em></li>
<li><span class="icon-hand-point-right"></span><em> icon-hand-point-right</em></li>
<li><span class="icon-hand-point-left"></span><em> icon-hand-point-left</em></li>
<li><span class="icon-hand-point-down"></span><em> icon-hand-point-down</em></li>
<li><span class="icon-back-right"></span><em> icon-back-right</em></li>
<li><span class="icon-back-left"></span><em> icon-back-left</em></li>
<li><span class="icon-exchange-vertical"></span><em> icon-exchange-vertical</em></li>
<li><span class="icon-wand"></span><em> icon-wand</em></li>
<li><span class="icon-save"></span><em> icon-save</em></li>
<li><span class="icon-save-alt"></span><em> icon-save-alt</em></li>
<li><span class="icon-direction"></span><em> icon-direction</em></li>
<li><span class="icon-direction-alt"></span><em> icon-direction-alt</em></li>
<li><span class="icon-user"></span><em> icon-user</em></li>
<li><span class="icon-link"></span><em> icon-link</em></li>
<li><span class="icon-unlink"></span><em> icon-unlink</em></li>
<li><span class="icon-trash"></span><em> icon-trash</em></li>
<li><span class="icon-target"></span><em> icon-target</em></li>
<li><span class="icon-tag"></span><em> icon-tag</em></li>
<li><span class="icon-desktop"></span><em> icon-desktop</em></li>
<li><span class="icon-tablet"></span><em> icon-tablet</em></li>
<li><span class="icon-mobile"></span><em> icon-mobile</em></li>
<li><span class="icon-email"></span><em> icon-email</em></li>
<li><span class="icon-star"></span><em> icon-star</em></li>
<li><span class="icon-spray"></span><em> icon-spray</em></li>
<li><span class="icon-signal"></span><em> icon-signal</em></li>
<li><span class="icon-shopping-cart"></span><em> icon-shopping-cart</em></li>
<li><span class="icon-shopping-cart-full"></span><em> icon-shopping-cart-full</em></li>
<li><span class="icon-settings"></span><em> icon-settings</em></li>
<li><span class="icon-search"></span><em> icon-search</em></li>
<li><span class="icon-zoom-in"></span><em> icon-zoom-in</em></li>
<li><span class="icon-zoom-out"></span><em> icon-zoom-out</em></li>
<li><span class="icon-cut"></span><em> icon-cut</em></li>
<li><span class="icon-ruler"></span><em> icon-ruler</em></li>
<li><span class="icon-ruler-alt-2"></span><em> icon-ruler-alt-2</em></li>
<li><span class="icon-ruler-pencil"></span><em> icon-ruler-pencil</em></li>
<li><span class="icon-ruler-alt"></span><em> icon-ruler-alt</em></li>
<li><span class="icon-bookmark"></span><em> icon-bookmark</em></li>
<li><span class="icon-bookmark-alt"></span><em> icon-bookmark-alt</em></li>
<li><span class="icon-reload"></span><em> icon-reload</em></li>
<li><span class="icon-plus"></span><em> icon-plus</em></li>
<li><span class="icon-minus"></span><em> icon-minus</em></li>
<li><span class="icon-close"></span><em> icon-close</em></li>
<li><span class="icon-pin"></span><em> icon-pin</em></li>
<li><span class="icon-pencil"></span><em> icon-pencil</em></li>
<li><span class="icon-pencil-alt"></span><em> icon-pencil-alt</em></li>
<li><span class="icon-paint-roller"></span><em> icon-paint-roller</em></li>
<li><span class="icon-paint-bucket"></span><em> icon-paint-bucket</em></li>
<li><span class="icon-na"></span><em> icon-na</em></li>
<li><span class="icon-medall"></span><em> icon-medall</em></li>
<li><span class="icon-medall-alt"></span><em> icon-medall-alt</em></li>
<li><span class="icon-marker"></span><em> icon-marker</em></li>
<li><span class="icon-marker-alt"></span><em> icon-marker-alt</em></li>
<li><span class="icon-lock"></span><em> icon-lock</em></li>
<li><span class="icon-unlock"></span><em> icon-unlock</em></li>
<li><span class="icon-location-arrow"></span><em> icon-location-arrow</em></li>
<li><span class="icon-layout"></span><em> icon-layout</em></li>
<li><span class="icon-layers"></span><em> icon-layers</em></li>
<li><span class="icon-layers-alt"></span><em> icon-layers-alt</em></li>
<li><span class="icon-key"></span><em> icon-key</em></li>
<li><span class="icon-image"></span><em> icon-image</em></li>
<li><span class="icon-heart"></span><em> icon-heart</em></li>
<li><span class="icon-heart-broken"></span><em> icon-heart-broken</em></li>
<li><span class="icon-hand-stop"></span><em> icon-hand-stop</em></li>
<li><span class="icon-hand-open"></span><em> icon-hand-open</em></li>
<li><span class="icon-hand-drag"></span><em> icon-hand-drag</em></li>
<li><span class="icon-flag"></span><em> icon-flag</em></li>
<li><span class="icon-flag-alt"></span><em> icon-flag-alt</em></li>
<li><span class="icon-flag-alt-2"></span><em> icon-flag-alt-2</em></li>
<li><span class="icon-eye"></span><em> icon-eye</em></li>
<li><span class="icon-import"></span><em> icon-import</em></li>
<li><span class="icon-export"></span><em> icon-export</em></li>
<li><span class="icon-cup"></span><em> icon-cup</em></li>
<li><span class="icon-crown"></span><em> icon-crown</em></li>
<li><span class="icon-comments"></span><em> icon-comments</em></li>
<li><span class="icon-comment"></span><em> icon-comment</em></li>
<li><span class="icon-comment-alt"></span><em> icon-comment-alt</em></li>
<li><span class="icon-thought"></span><em> icon-thought</em></li>
<li><span class="icon-clip"></span><em> icon-clip</em></li>
<li><span class="icon-check"></span><em> icon-check</em></li>
<li><span class="icon-check-box"></span><em> icon-check-box</em></li>
<li><span class="icon-camera"></span><em> icon-camera</em></li>
<li><span class="icon-announcement"></span><em> icon-announcement</em></li>
<li><span class="icon-brush"></span><em> icon-brush</em></li>
<li><span class="icon-brush-alt"></span><em> icon-brush-alt</em></li>
<li><span class="icon-palette"></span><em> icon-palette</em></li>
<li><span class="icon-briefcase"></span><em> icon-briefcase</em></li>
<li><span class="icon-bolt"></span><em> icon-bolt</em></li>
<li><span class="icon-bolt-alt"></span><em> icon-bolt-alt</em></li>
<li><span class="icon-blackboard"></span><em> icon-blackboard</em></li>
<li><span class="icon-bag"></span><em> icon-bag</em></li>
<li><span class="icon-world"></span><em> icon-world</em></li>
<li><span class="icon-wheelchair"></span><em> icon-wheelchair</em></li>
<li><span class="icon-car"></span><em> icon-car</em></li>
<li><span class="icon-truck"></span><em> icon-truck</em></li>
<li><span class="icon-timer"></span><em> icon-timer</em></li>
<li><span class="icon-ticket"></span><em> icon-ticket</em></li>
<li><span class="icon-thumb-up"></span><em> icon-thumb-up</em></li>
<li><span class="icon-thumb-down"></span><em> icon-thumb-down</em></li>
<li><span class="icon-stats-up"></span><em> icon-stats-up</em></li>
<li><span class="icon-stats-down"></span><em> icon-stats-down</em></li>
<li><span class="icon-shine"></span><em> icon-shine</em></li>
<li><span class="icon-shift-right"></span><em> icon-shift-right</em></li>
<li><span class="icon-shift-left"></span><em> icon-shift-left</em></li>
<li><span class="icon-shift-right-alt"></span><em> icon-shift-right-alt</em></li>
<li><span class="icon-shift-left-alt"></span><em> icon-shift-left-alt</em></li>
<li><span class="icon-shield"></span><em> icon-shield</em></li>
<li><span class="icon-notepad"></span><em> icon-notepad</em></li>
<li><span class="icon-server"></span><em> icon-server</em></li>
<li><span class="icon-pulse"></span><em> icon-pulse</em></li>
<li><span class="icon-printer"></span><em> icon-printer</em></li>
<li><span class="icon-power-off"></span><em> icon-power-off</em></li>
<li><span class="icon-plug"></span><em> icon-plug</em></li>
<li><span class="icon-pie-chart"></span><em> icon-pie-chart</em></li>
<li><span class="icon-panel"></span><em> icon-panel</em></li>
<li><span class="icon-package"></span><em> icon-package</em></li>
<li><span class="icon-music"></span><em> icon-music</em></li>
<li><span class="icon-music-alt"></span><em> icon-music-alt</em></li>
<li><span class="icon-mouse"></span><em> icon-mouse</em></li>
<li><span class="icon-mouse-alt"></span><em> icon-mouse-alt</em></li>
<li><span class="icon-money"></span><em> icon-money</em></li>
<li><span class="icon-microphone"></span><em> icon-microphone</em></li>
<li><span class="icon-menu"></span><em> icon-menu</em></li>
<li><span class="icon-menu-alt"></span><em> icon-menu-alt</em></li>
<li><span class="icon-map"></span><em> icon-map</em></li>
<li><span class="icon-map-alt"></span><em> icon-map-alt</em></li>
<li><span class="icon-location-pin"></span><em> icon-location-pin</em></li>
<li><span class="icon-light-bulb"></span><em> icon-light-bulb</em></li>
<li><span class="icon-info"></span><em> icon-info</em></li>
<li><span class="icon-infinite"></span><em> icon-infinite</em></li>
<li><span class="icon-id-badge"></span><em> icon-id-badge</em></li>
<li><span class="icon-hummer"></span><em> icon-hummer</em></li>
<li><span class="icon-home"></span><em> icon-home</em></li>
<li><span class="icon-help"></span><em> icon-help</em></li>
<li><span class="icon-headphone"></span><em> icon-headphone</em></li>
<li><span class="icon-harddrives"></span><em> icon-harddrives</em></li>
<li><span class="icon-harddrive"></span><em> icon-harddrive</em></li>
<li><span class="icon-gift"></span><em> icon-gift</em></li>
<li><span class="icon-game"></span><em> icon-game</em></li>
<li><span class="icon-filter"></span><em> icon-filter</em></li>
<li><span class="icon-files"></span><em> icon-files</em></li>
<li><span class="icon-file"></span><em> icon-file</em></li>
<li><span class="icon-zip"></span><em> icon-zip</em></li>
<li><span class="icon-folder"></span><em> icon-folder</em></li>
<li><span class="icon-envelope"></span><em> icon-envelope</em></li>
<li><span class="icon-dashboard"></span><em> icon-dashboard</em></li>
<li><span class="icon-cloud"></span><em> icon-cloud</em></li>
<li><span class="icon-cloud-up"></span><em> icon-cloud-up</em></li>
<li><span class="icon-cloud-down"></span><em> icon-cloud-down</em></li>
<li><span class="icon-clipboard"></span><em> icon-clipboard</em></li>
<li><span class="icon-calendar"></span><em> icon-calendar</em></li>
<li><span class="icon-book"></span><em> icon-book</em></li>
<li><span class="icon-bell"></span><em> icon-bell</em></li>
<li><span class="icon-basketball"></span><em> icon-basketball</em></li>
<li><span class="icon-bar-chart"></span><em> icon-bar-chart</em></li>
<li><span class="icon-bar-chart-alt"></span><em> icon-bar-chart-alt</em></li>
<li><span class="icon-archive"></span><em> icon-archive</em></li>
<li><span class="icon-anchor"></span><em> icon-anchor</em></li>
<li><span class="icon-alert"></span><em> icon-alert</em></li>
<li><span class="icon-alarm-clock"></span><em> icon-alarm-clock</em></li>
<li><span class="icon-agenda"></span><em> icon-agenda</em></li>
<li><span class="icon-write"></span><em> icon-write</em></li>
<li><span class="icon-wallet"></span><em> icon-wallet</em></li>
<li><span class="icon-video-clapper"></span><em> icon-video-clapper</em></li>
<li><span class="icon-video-camera"></span><em> icon-video-camera</em></li>
<li><span class="icon-vector"></span><em> icon-vector</em></li>
<li><span class="icon-support"></span><em> icon-support</em></li>
<li><span class="icon-stamp"></span><em> icon-stamp</em></li>
<li><span class="icon-slice"></span><em> icon-slice</em></li>
<li><span class="icon-shortcode"></span><em> icon-shortcode</em></li>
<li><span class="icon-receipt"></span><em> icon-receipt</em></li>
<li><span class="icon-pin2"></span><em> icon-pin2</em></li>
<li><span class="icon-pin-alt"></span><em> icon-pin-alt</em></li>
<li><span class="icon-pencil-alt2"></span><em> icon-pencil-alt2</em></li>
<li><span class="icon-eraser"></span><em> icon-eraser</em></li>
<li><span class="icon-more"></span><em> icon-more</em></li>
<li><span class="icon-more-alt"></span><em> icon-more-alt</em></li>
<li><span class="icon-microphone-alt"></span><em> icon-microphone-alt</em></li>
<li><span class="icon-magnet"></span><em> icon-magnet</em></li>
<li><span class="icon-line-double"></span><em> icon-line-double</em></li>
<li><span class="icon-line-dotted"></span><em> icon-line-dotted</em></li>
<li><span class="icon-line-dashed"></span><em> icon-line-dashed</em></li>
<li><span class="icon-ink-pen"></span><em> icon-ink-pen</em></li>
<li><span class="icon-info-alt"></span><em> icon-info-alt</em></li>
<li><span class="icon-help-alt"></span><em> icon-help-alt</em></li>
<li><span class="icon-headphone-alt"></span><em> icon-headphone-alt</em></li>
<li><span class="icon-gallery"></span><em> icon-gallery</em></li>
<li><span class="icon-face-smile"></span><em> icon-face-smile</em></li>
<li><span class="icon-face-sad"></span><em> icon-face-sad</em></li>
<li><span class="icon-credit-card"></span><em> icon-credit-card</em></li>
<li><span class="icon-comments-smiley"></span><em> icon-comments-smiley</em></li>
<li><span class="icon-time"></span><em> icon-time</em></li>
<li><span class="icon-share"></span><em> icon-share</em></li>
<li><span class="icon-share-alt"></span><em> icon-share-alt</em></li>
<li><span class="icon-rocket"></span><em> icon-rocket</em></li>
<li><span class="icon-new-window"></span><em> icon-new-window</em></li>
<li><span class="icon-rss"></span><em> icon-rss</em></li>
<li><span class="icon-rss-alt"></span><em> icon-rss-alt</em></li>
<li><span class="icon-control-stop"></span><em> icon-control-stop</em></li>
<li><span class="icon-control-shuffle"></span><em> icon-control-shuffle</em></li>
<li><span class="icon-control-play"></span><em> icon-control-play</em></li>
<li><span class="icon-control-pause"></span><em> icon-control-pause</em></li>
<li><span class="icon-control-forward"></span><em> icon-control-forward</em></li>
<li><span class="icon-control-backward"></span><em> icon-control-backward</em></li>
<li><span class="icon-volume"></span><em> icon-volume</em></li>
<li><span class="icon-control-skip-forward"></span><em> icon-control-skip-forward</em></li>
<li><span class="icon-control-skip-backward"></span><em> icon-control-skip-backward</em></li>
<li><span class="icon-control-record"></span><em> icon-control-record</em></li>
<li><span class="icon-control-eject"></span><em> icon-control-eject</em></li>
<li><span class="icon-paragraph"></span><em> icon-paragraph</em></li>
<li><span class="icon-uppercase"></span><em> icon-uppercase</em></li>
<li><span class="icon-underline"></span><em> icon-underline</em></li>
<li><span class="icon-text"></span><em> icon-text</em></li>
<li><span class="icon-Italic"></span><em> icon-Italic</em></li>
<li><span class="icon-smallcap"></span><em> icon-smallcap</em></li>
<li><span class="icon-list"></span><em> icon-list</em></li>
<li><span class="icon-list-ol"></span><em> icon-list-ol</em></li>
<li><span class="icon-align-right"></span><em> icon-align-right</em></li>
<li><span class="icon-align-left"></span><em> icon-align-left</em></li>
<li><span class="icon-align-justify"></span><em> icon-align-justify</em></li>
<li><span class="icon-align-center"></span><em> icon-align-center</em></li>
<li><span class="icon-quote-right"></span><em> icon-quote-right</em></li>
<li><span class="icon-quote-left"></span><em> icon-quote-left</em></li>
<li><span class="icon-flickr"></span><em> icon-flickr</em></li>
<li><span class="icon-flickr-alt"></span><em> icon-flickr-alt</em></li>
<li><span class="icon-instagram"></span><em> icon-instagram</em></li>
<li><span class="icon-google"></span><em> icon-google</em></li>
<li><span class="icon-github"></span><em> icon-github</em></li>
<li><span class="icon-facebook"></span><em> icon-facebook</em></li>
<li><span class="icon-dropbox"></span><em> icon-dropbox</em></li>
<li><span class="icon-dropbox-alt"></span><em> icon-dropbox-alt</em></li>
<li><span class="icon-dribbble"></span><em> icon-dribbble</em></li>
<li><span class="icon-apple"></span><em> icon-apple</em></li>
<li><span class="icon-android"></span><em> icon-android</em></li>
<li><span class="icon-yahoo"></span><em> icon-yahoo</em></li>
<li><span class="icon-trello"></span><em> icon-trello</em></li>
<li><span class="icon-stack-overflow"></span><em> icon-stack-overflow</em></li>
<li><span class="icon-soundcloud"></span><em> icon-soundcloud</em></li>
<li><span class="icon-sharethis"></span><em> icon-sharethis</em></li>
<li><span class="icon-sharethis-alt"></span><em> icon-sharethis-alt</em></li>
<li><span class="icon-reddit"></span><em> icon-reddit</em></li>
<li><span class="icon-microsoft"></span><em> icon-microsoft</em></li>
<li><span class="icon-microsoft-alt"></span><em> icon-microsoft-alt</em></li>
<li><span class="icon-linux"></span><em> icon-linux</em></li>
<li><span class="icon-jsfiddle"></span><em> icon-jsfiddle</em></li>
<li><span class="icon-joomla"></span><em> icon-joomla</em></li>
<li><span class="icon-html5"></span><em> icon-html5</em></li>
<li><span class="icon-css3"></span><em> icon-css3</em></li>
<li><span class="icon-drupal"></span><em> icon-drupal</em></li>
<li><span class="icon-wordpress"></span><em> icon-wordpress</em></li>
<li><span class="icon-tumblr"></span><em> icon-tumblr</em></li>
<li><span class="icon-tumblr-alt"></span><em> icon-tumblr-alt</em></li>
<li><span class="icon-skype"></span><em> icon-skype</em></li>
<li><span class="icon-youtube"></span><em> icon-youtube</em></li>
<li><span class="icon-vimeo"></span><em> icon-vimeo</em></li>
<li><span class="icon-vimeo-alt"></span><em> icon-vimeo-alt</em></li>
<li><span class="icon-twitter"></span><em> icon-twitter</em></li>
<li><span class="icon-twitter-alt"></span><em> icon-twitter-alt</em></li>
<li><span class="icon-linkedin"></span><em> icon-linkedin</em></li>
<li><span class="icon-pinterest"></span><em> icon-pinterest</em></li>
<li><span class="icon-pinterest-alt"></span><em> icon-pinterest-alt</em></li>
<li><span class="icon-themify-logo"></span><em> icon-themify-logo</em></li>
<li><span class="icon-themify-favicon"></span><em> icon-themify-favicon</em></li>
<li><span class="icon-themify-favicon-alt"></span><em> icon-themify-favicon-alt</em></li>