{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% block css %}

{% endblock %}

{% block content %}

<div class="page-body">
  <div class="container-fluid">
    {% include "layout/breadcrumb.html" %}
    <div class="row">
      {% include "forms-table/forms/form-widgets/switch/components/basic-switch.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-color.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-outline.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-unchecked.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-sizing.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-icon.html" %}
      {% include "forms-table/forms/form-widgets/switch/components/switch-with-color.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}