{% load static %}

<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/02.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/02.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/03.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/03.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/04.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/04.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/01.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/01.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/02.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/02.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/03.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/03.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
    href="{% static 'assets/images/big-lightgallry/04.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
      src="{% static 'assets/images/lightgallry/04.jpg' %}" itemprop="thumbnail" alt="Image description">
    <div class="caption">
      <h4>Portfolio Title</h4>
      <p>is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy.</p>
    </div>
  </a>
  <figcaption itemprop="caption description">
    <h4>Portfolio Title</h4>
    <p>is simply dummy text of the printing and typesetting industry. Lorem
      Ipsum has been the industry's standard dummy.</p>
  </figcaption>
</figure>