{% load static %}


      <div class="col-xxl-5 col-ed-6 col-xl-8 box-col-7">
        <div class="row">
          <div class="col-sm-12">
            <div class="card o-hidden welcome-card">            
              <div class="card-body">
                <h4 class="mb-3 mt-1 f-w-500 mb-0 f-22">Hello Jashmin<span> <img src="{% static 'assets/images/dashboard-3/hand.svg'%}" alt="hand vector"></span></h4>
                <p>Learn something new every day with world's best courses.Free online courses available.</p>
              </div><img class="welcome-img" src="{% static 'assets/images/dashboard-3/widget.svg'%}" alt="search image">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card course-box"> 
              <div class="card-body"> 
                <div class="course-widget"> 
                  <div class="course-icon"> 
                    <svg class="fill-icon">
                      <use href="{% static 'assets/svg/icon-sprite.svg#course-1'%}"></use>
                    </svg>
                  </div>
                  <div> 
                    <h4 class="mb-0">100+</h4><span class="f-light">Completed Courses</span><a class="btn btn-light f-light" href="learning-list-view.html">View course<span class="ms-2"> 
                        <svg class="fill-icon f-light">
                          <use href="{% static 'assets/svg/icon-sprite.svg#arrowright'%}"></use>
                        </svg></span></a>
                  </div>
                </div>
              </div>
              <ul class="square-group">
                <li class="square-1 warning"></li>
                <li class="square-1 primary"></li>
                <li class="square-2 warning1"></li>
                <li class="square-3 danger"></li>
                <li class="square-4 light"></li>
                <li class="square-5 warning"></li>
                <li class="square-6 success"></li>
                <li class="square-7 success"></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card course-box"> 
              <div class="card-body"> 
                <div class="course-widget"> 
                  <div class="course-icon warning"> 
                    <svg class="fill-icon">
                      <use href="{% static 'assets/svg/icon-sprite.svg#course-2'%}"></use>
                    </svg>
                  </div>
                  <div> 
                    <h4 class="mb-0">50+</h4><span class="f-light">In Progress Courses</span><a class="btn btn-light f-light" href="learning-list-view.html">View course<span class="ms-2"> 
                        <svg class="fill-icon f-light">
                          <use href="{% static 'assets/svg/icon-sprite.svg#arrowright'%}"></use>
                        </svg></span></a>
                  </div>
                </div>
              </div>
              <ul class="square-group">
                <li class="square-1 warning"></li>
                <li class="square-1 primary"></li>
                <li class="square-2 warning1"></li>
                <li class="square-3 danger"></li>
                <li class="square-4 light"></li>
                <li class="square-5 warning"></li>
                <li class="square-6 success"></li>
                <li class="square-7 success"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-2 col-ed-3 col-xl-4 col-sm-6 box-col-5">
        <div class="card get-card">
          <div class="card-header card-no-border">
            <h5>Today Progress</h5><span class="f-14 f-w-500 f-light">Your Daily Goal Almost Done!</span>
          </div>
          <div class="card-body pt-0">
            <div class="progress-chart-wrap">
              <div id="progresschart"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-ed-3 d-xxl-block d-sm-none box-col-none">
        <div class="card get-card overflow-hidden"> 
          <div class="card-header card-no-border">
            <h5>Do You Want to Get</h5><span class="f-14 f-w-500 f-light">Better Results?</span><a class="btn btn-primary btn-hover-effect" href="#">More details<span class="ms-1"> 
                <svg class="fill-icon">
                  <use href="{% static 'assets/svg/icon-sprite.svg#arrowright'%}"></use>
                </svg></span></a>
          </div>
          <div class="card-body pt-0">
            <div class="get-image text-center"> <img class="img-fluid" src="{% static 'assets/images/dashboard-3/better.png'%}" alt="leptop with men vector"></div>
          </div>
          <ul class="square-group">
            <li class="square-1 warning"></li>
            <li class="square-1 primary"></li>
            <li class="square-2 warning1"></li>
            <li class="square-3 danger"></li>
            <li class="square-4 light"></li>
            <li class="square-5 warning"></li>
            <li class="square-6 success"></li>
            <li class="square-7 success"></li>
          </ul>
        </div>
      </div>
      <div class="col-xxl-3 col-ed-5 col-xl-5 col-sm-6 box-col-5">
        <div class="card"> 
          <div class="card-body">
            <div class="default-datepicker"> 
              <div class="datepicker-here" data-language="en"></div>
            </div>
          </div>
        </div>
      </div>

  

