{% load static %}
{% load sass_tags %}
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Draggable Marker</h5><span>Display a map highlighting points of interest</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map13"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Polyline on the Map</h5><span>Display a map with a line showing a known route</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map14"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Polygon on the Map</h5><span>Display a map highlighting a region or area</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map15"></div>
    </div>
  </div>
</div>
<div class="col-xl-6">
  <div class="card">
    <div class="card-header">
      <h5>Polygon on the Map</h5><span>Display a map highlighting a region or area</span>
    </div>
    <div class="card-body">
      <div class="map-js-height" id="map16"></div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->