{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
        <div class="container-fluid">
                {% include "layout/breadcrumb.html" %}

                {% include "forms-table/forms/form-layout/form-wizard-three/components/form-wizard.html" %}

        </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/form-wizard/form-wizard-three.js'%}"></script>
<script src="{% static 'assets/js/form-wizard/jquery.backstretch.min.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}