{% load static %}
{% load sass_tags %}
<div class="table-responsive">
  <table class="display" id="basic-6">
    <thead>
      <tr>
        <th rowspan="2">Name</th>
        <th colspan="2">HR Information</th>
        <th colspan="4">Contact</th>
      </tr>
      <tr>
        <th>Position</th>
        <th>Salary</th>
        <th>Office</th>
        <th>Skill</th>
        <th>Extn.</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/1.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Tiger Nixon</div>
            </div>
          </div>
        </td>
        <td>System Architect</td>
        <td>$320,800</td>
        <td>Edinburgh</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>5421</td>
        <td>t.nixon@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/2.png'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Garrett Winters</div>
            </div>
          </div>
        </td>
        <td>Accountant</td>
        <td>$170,750</td>
        <td>Tokyo</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 40%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>8422</td>
        <td>g.winters@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/3.png'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Ashton Cox</div>
            </div>
          </div>
        </td>
        <td>Junior Technical Author</td>
        <td>$86,000</td>
        <td>San Francisco</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>1562</td>
        <td>a.cox@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/4.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Cedric Kelly</div>
            </div>
          </div>
        </td>
        <td>Senior Javascript Developer</td>
        <td>$433,060</td>
        <td>Edinburgh</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>6224</td>
        <td>c.kelly@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/5.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Airi Satou</div>
            </div>
          </div>
        </td>
        <td>Accountant</td>
        <td>$162,700</td>
        <td>Tokyo</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>5407</td>
        <td>a.satou@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/6.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Brielle Williamson</div>
            </div>
          </div>
        </td>
        <td>Integration Specialist</td>
        <td>$372,000</td>
        <td>New York</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>4804</td>
        <td>b.williamson@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/7.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Herrod Chandler</div>
            </div>
          </div>
        </td>
        <td>Sales Assistant</td>
        <td>$137,500</td>
        <td>San Francisco</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>9608</td>
        <td>h.chandler@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/8.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Rhona Davidson</div>
            </div>
          </div>
        </td>
        <td>Integration Specialist</td>
        <td>$327,900</td>
        <td>Tokyo</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>6200</td>
        <td>r.davidson@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/9.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Colleen Hurst</div>
            </div>
          </div>
        </td>
        <td>Javascript Developer</td>
        <td>$205,500</td>
        <td>San Francisco</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-success" role="progressbar" style="width: 24%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>2360</td>
        <td>c.hurst@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/10.jpg'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Sonya Frost</div>
            </div>
          </div>
        </td>
        <td>Software Engineer</td>
        <td>$103,600</td>
        <td>Edinburgh</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 58%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>1667</td>
        <td>s.frost@datatables.net</td>
      </tr>
      <tr>
        <td>
          <div class="media"><img class="rounded-circle img-30 me-3" src="{% static 'assets/images/user/11.png'%}"
              alt="Generic placeholder image">
            <div class="media-body align-self-center">
              <div>Jena Gaines</div>
            </div>
          </div>
        </td>
        <td>Office Manager</td>
        <td>$90,560</td>
        <td>London</td>
        <td>
          <div class="progress-showcase">
            <div class="progress sm-progress-bar">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td>3814</td>
        <td>j.gaines@datatables.net</td>
      </tr>