{% load static %}
{% load sass_tags %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR WORLD MAP</h5><span>Below Map is displaying the world map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="world-map"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR USA MAP</h5><span>Below Map is displaying the usa map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="usa"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR CANADA MAP</h5><span>Below Map is displaying the canada map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="canada"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR INDIA MAP</h5><span>Below Map is displaying the india map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="india"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR ASIA MAP</h5><span>Below Map is displaying the asia map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="asia"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR CANADA MAP</h5><span>Below Map is displaying the uk map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="uk"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR CHICAGO MAP</h5><span>Below Map is displaying the chicago map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="chicago"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5>VECTOR AUSTRALIA MAP</h5><span>Below Map is displaying the australia map.</span>
      </div>
      <div class="card-body">
        <div class="jvector-map-height" id="australia"></div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->