   <!-- Ajax sourced data  Starts-->
   <div class="col-sm-12">
    <div class="card">
      <div class="card-header pb-0 card-no-border">
        <h3 class="mb-3">Ajax sourced data</h3><span>DataTables has the ability to read data from virtually any JSON data source that can be obtained by Ajax. This can be done, in its most simple form, by setting the <code>ajax:option</code> option to the address of the JSON data source.</span>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="display" id="data-source-2" style="width:100%">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
              <!-- Ajax sourced data Ends-->