<!-- Javascript sourced data  Starts-->
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0 card-no-border">
      <h3 class="mb-3">Javascript sourced data</h3><span>
        At times you will wish to be able to create a table from dynamic information passed directly to DataTables, rather than having it read from the document.
        This is achieved using the <code class="option" title="DataTables initialisation option">data</code>                                   option in the initialisation object, passing in an array of data to be used (like all other DataTables handled data, this can be arrays or objects using the<code class="option" title="DataTables initialisation option">columns.data</code> option).</span><span>A <code class="tag" title="HTML tag">table</code> must be available on the page for DataTables to use. This examples shows an empty <code class="tag" title="HTML tag">table</code> element being initialising as a DataTable with a set of data from a Javascript array. The columns in the table are dynamically created
                                           based on the <code class="option" title="DataTables initialisation option">columns.title</code>                                   configuration option.</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="display w-100" id="data-source-3"></table>
      </div>
    </div>
  </div>
</div>
              <!-- Javascript sourced data Ends-->
    