<div class="card-body file-manager">
  <h4 class="mb-3">All Files</h4>
  {% load humanize %}
  <!-- Recently opened files -->
  <h6>Recently opened files</h6>
  <ul class="files">
    {% for document in recent_documents %}
    <li class="file-box">
      <div class="file-top">
        <i class="fa fa-file-text-o txt-primary"></i>
        <i class="fa fa-ellipsis-v f-14 ellips"></i>
      </div>
      <div class="file-bottom">
        <h6>{{ document.title }}</h6>
        <p class="mb-1">{{ document.file.size|filesizeformat }}</p>
        <p><b>last open :</b> {{ document.updated_at|naturaltime }}</p>
      </div>
    </li>
    {% empty %}
    <p>No recently opened files.</p>
    {% endfor %}
  </ul>

  <!-- Folders -->
  <h6 class="mt-4">Folders</h6>
  <ul class="folder">
    {% for folder in folders %}
    <li class="folder-box">
      <div class="media">
        <i class="fa fa-folder f-36 txt-warning"></i>
        <div class="media-body ms-3">
          <h6 class="mb-0">{{ folder.name }}</h6>
          <p>{{ folder.document_count }} files, {{ folder.size|filesizeformat }}</p>
        </div>
      </div>
    </li>
    {% empty %}
    <p>No folders found.</p>
    {% endfor %}
  </ul>

  <!-- All Files -->
  <h6 class="mt-4">Files</h6>
  <ul class="files">
    {% for document in all_documents %}
    <li class="file-box">
      <div class="file-top">
        <i class="fa fa-file-archive-o txt-secondary"></i>
        <i class="fa fa-ellipsis-v f-14 ellips"></i>
      </div>
      <div class="file-bottom">
        <h6>{{ document.title }}</h6>
        <p class="mb-1">{{ document.file.size|filesizeformat }}</p>
        <p><b>last open :</b> {{ document.updated_at|naturaltime }}</p>
      </div>
    </li>
    {% empty %}
    <p>No files found.</p>
    {% endfor %}
  </ul>
</div>
</div>

