{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "applications/chat/chat-video/components/chat-side.html" %}
            {% include "applications/chat/chat-video/components/chat-menu.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/fullscreen.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}