{% load static %}
{% load sass_tags %}


<div class="row">
  <div class="col-xl-4 col-md-12 box-col-12">
    <div class="card o-hidden">
      <div class="chart-widget-top">
        <div class="row card-body">
          <div class="col-5">
            <h6 class="f-w-600 font-primary">SALE</h6><span class="num"><span class="counter">90</span>%<i
                class="icon-angle-up f-12 ms-1"></i></span>
          </div>
          <div class="col-7 text-end">
            <h4 class="num total-value">$ <span class="counter">3654</span>.00</h4>
          </div>
        </div>
        <div>
          <div id="chart-widget1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12 box-col-12">
    <div class="card o-hidden">
      <div class="chart-widget-top">
        <div class="row card-body">
          <div class="col-7">
            <h6 class="f-w-600 font-secondary">PROJECTS</h6><span class="num"><span class="counter">30</span>%<i
                class="icon-angle-up f-12 ms-1"></i></span>
          </div>
          <div class="col-5 text-end">
            <h4 class="num total-value counter">12569</h4>
          </div>
        </div>
        <div id="chart-widget2">
          <div class="flot-chart-placeholder" id="chart-widget-top-second"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12 box-col-12">
    <div class="card o-hidden">
      <div class="chart-widget-top">
        <div class="row card-body">
          <div class="col-8">
            <h6 class="f-w-600 font-success">PRODUCTS</h6><span class="num"><span class="counter">68</span>%<i
                class="icon-angle-up f-12 ms-1"></i></span>
          </div>
          <div class="col-4 text-end">
            <h4 class="num total-value"><span class="counter">93</span>M</h4>
          </div>
        </div>
        <div id="chart-widget3">
          <div class="flot-chart-placeholder" id="chart-widget-top-third"></div>
        </div>
      </div>
    </div>
  </div>
</div>