{% load static %}
{% load crispy_forms_tags %}
{% load sass_tags %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form theme-form">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row">
              <div class="col">
                <div class="text-end">
                  <button type="submit" class="btn btn-success me-3">Add</button>
                  <a class="btn btn-danger" href="#">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
