<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-3">Generated content for a column</h5><span>In some tables you might wish to have some content
        generated automatically.</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="display datatables" id="auto-generate-content">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>