{% load static %}
{% load sass_tags %}


<div class="col-md-6 col-lg-6 col-xl-4">
  <div class="card custom-card pb-0">
    <div class="card-header"><img class="img-fluid" src="{% static 'assets/images/user-card/5.jpg'%}" alt=""></div>
    <div class="card-profile"><img class="rounded-circle" src="{% static 'assets/images/avtar/11.jpg'%}" alt=""></div>
    <ul class="card-social">
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://account.google.com"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://rss.com/"><i class="fa fa-rss"></i></a></li>
    </ul>
    <div class="text-center profile-details">
      <h5><a href="user_profile">Dev John</a></h5>
      <h6>Devloper</h6>
    </div>
    <div class="card-footer row">
      <div class="col-4 col-sm-4">
        <h6>Follower</h6>
        <h3 class="counter">6545</h3>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Following</h6>
        <h3><span class="counter">91</span>K</h3>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Total Post</h6>
        <h3><span class="counter">21</span>M</h3>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-lg-6 col-xl-4">
  <div class="card custom-card pb-0">
    <div class="card-header"><img class="img-fluid" src="{% static 'assets/images/user/6.jpg'%}" alt=""></div>
    <div class="card-profile"><img class="rounded-circle" src="{% static 'assets/images/avtar/3.jpg'%}" alt=""></div>
    <ul class="card-social">
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://account.google.com"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://rss.com/"><i class="fa fa-rss"></i></a></li>
    </ul>
    <div class="text-center profile-details">
      <h5><a href="user_profile">Mark Jecno</a></h5>
      <h6>Manager</h6>
    </div>
    <div class="card-footer row">
      <div class="col-4 col-sm-4">
        <h6>Follower</h6>
        <h3 class="counter">9564</h3>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Following</h6>
        <h3><span class="counter">49</span>K</h3>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Total Post</h6>
        <h3><span class="counter">96</span>M</h3>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="my-gallery card-body row gallery-with-description" itemscope="">
          <figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
              href="{% static 'assets/images/big-lightgallry/01.jpg'%}" itemprop="contentUrl" data-size="1600x950"><img
                src="{% static 'assets/images/lightgallry/01.jpg'%}" itemprop="thumbnail" alt="Image description">
              <div class="caption">
                <h4>Johan Deo</h4>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy.</p>
              </div>
            </a>
            <figcaption itemprop="caption description">
              <h4>Johan Deo</h4>
              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.</p>
            </figcaption>
          </figure>
          <figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
              href="{% static 'assets/images/big-lightgallry/02.jpg'%}" itemprop="contentUrl" data-size="1600x950"><img
                src="{% static 'assets/images/lightgallry/02.jpg'%}" itemprop="thumbnail" alt="Image description">
              <div class="caption">
                <h4>Dev John</h4>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy.</p>
              </div>
            </a>
            <figcaption itemprop="caption description">
              <h4>Dev John</h4>
              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.</p>
            </figcaption>
          </figure>
          <figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
              href="{% static 'assets/images/big-lightgallry/03.jpg'%}" itemprop="contentUrl" data-size="1600x950"><img
                src="{% static 'assets/images/lightgallry/03.jpg'%}" itemprop="thumbnail" alt="Image description">
              <div class="caption">
                <h4>Johan Deo</h4>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy.</p>
              </div>
            </a>
            <figcaption itemprop="caption description">
              <h4>Johan Deo</h4>
              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.</p>
            </figcaption>
          </figure>
          <figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
              href="{% static 'assets/images/big-lightgallry/04.jpg'%}" itemprop="contentUrl" data-size="1600x950"><img
                src="{% static 'assets/images/lightgallry/04.jpg'%}" itemprop="thumbnail" alt="Image description">
              <div class="caption">
                <h4>Comeren Diaz</h4>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy.</p>
              </div>
            </a>
            <figcaption itemprop="caption description">
              <h4>Comeren Diaz</h4>
              <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy.</p>
            </figcaption>
          </figure>