{% load static %}
{% load sass_tags %}

<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5>Viewed Your Profile</h5>
    </div>
    <div class="card-body avatar-showcase">
      <div class="pepole-knows">
        <ul>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/2.png'%}"><span class="d-block">Jason Borne</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/3.png'%}"><span class="d-block">Anna Mull</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/3.jpg'%}"><span class="d-block">Dion Cast</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/4.jpg'%}"><span class="d-block">Karlene Lex</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/8.jpg'%}"><span class="d-block">Vella Chism</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/10.jpg'%}"><span class="d-block">Wai Schalk</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
          <li>
            <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                src="{% static 'assets/images/user/14.png'%}"><span class="d-block">Karlene Lex</span>
              <button class="btn btn-primary btn-xs">Add Friend</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5>Activity Log</h5>
    </div>
    <div class="card-body">
      <div class="activity-log">
        <div class="my-activity">
          <h6 class="f-w-600 mb-3">Today</h6>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Comeren Diaz likes your photos.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Karlene Lex and Comeren Diaz now friends.</p>
          <p><span><i class="m-r-20" data-feather="message-square"></i></span>Sarah Loren wrote on your timeline </p>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Johny Waston likes your post's.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Andew Jon became friends with Comeren Diaz.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Johny Waston became friends with Bucky Barnes.
          </p>
        </div>
        <div class="my-activity">
          <h6 class="f-w-600 mb-3">25 December</h6>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Comeren Diaz likes your photos.</p>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Johny Waston likes your post's.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Karlene Lex and Comeren Diaz now friends.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Johny Waston became friends with Bucky Barnes.
          </p>
          <p><span><i class="m-r-20" data-feather="message-square"></i></span>Sarah Loren wrote on your timeline </p>
          <p><span><i class="m-r-20" data-feather="message-square"></i></span>Comeren Diaz wrote on your timeline</p>
        </div>
        <div class="my-activity">
          <h6 class="f-w-600 mb-3">8 september</h6>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Comeren Diaz likes your photos.</p>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Johny Waston likes your post's.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Karlene Lex and Comeren Diaz now friends.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Johny Waston became friends with Bucky Barnes.
          </p>
          <p><span><i class="m-r-20" data-feather="message-square"></i></span>Sarah Loren wrote on your timeline </p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Andew Jon became friends with Comeren Diaz.</p>
        </div>
        <div class="my-activity">
          <h6 class="f-w-600 mb-3">6 June</h6>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Comeren Diaz likes your photos.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Karlene Lex and Comeren Diaz now friends.</p>
          <p><span><i class="m-r-20" data-feather="message-square"></i></span>Sarah Loren wrote on your timeline </p>
          <p><span><i class="m-r-20" data-feather="thumbs-up"></i></span>Johny Waston likes your post's.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Andew Jon became friends with Comeren Diaz.</p>
          <p><span><i class="m-r-20" data-feather="user-plus"></i></span>Johny Waston became friends with Bucky Barnes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="col-xl-3 xl-100 box-col-12">
  <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc3">
    <div class="row">
      <div class="col-xl-12 xl-50 box-col-6">
        <div class="card b-r-5">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon7"
                aria-expanded="true" aria-controls="collapseicon7">Profile Intro</button>
            </h5>
          </div>
          <div class="collapse show" id="collapseicon7" aria-labelledby="collapseicon" data-bs-parent="#accordion"
            aria-controls="collapseicon7">
            <div class="card-body filter-cards-view"><span class="f-w-600 mb-2 d-block">About Me :</span>
              <p>
                Hi, I’m elana, I’m 30 and I work as a
                web Designer for the “Daydreams”
                Agency in Pier 56.
              </p><span class="f-w-600 mb-2 d-block">Favourite TV shows :</span>
              <p>
                Breaking Good, RedDevil, People of
                Interest, The Running Dead,
                Found, American Guy.
              </p><span class="f-w-600 mb-2 d-block">Favourite Music Bands :</span>
              <p>
                Breaking Good, RedDevil, People of
                Interest, The Running Dead,
                Found, American Guy.
              </p>
              <div class="social-network theme-form"><span class="f-w-600">Social Networks</span>
                <a href="https://www.facebook.com/" class="btn social-btn btn-fb mb-2 text-center"><i
                    class="fa fa-facebook m-r-5"></i>Facebook</a>
                <a href="https://twitter.com/" class="btn social-btn btn-twitter mb-2 text-center"><i
                    class="fa fa-twitter m-r-5"></i>Twitter</a>
                <a href="https://dribbble.com/" class="btn social-btn btn-google text-center"><i
                    class="fa fa-dribbble m-r-5"></i>Dribbble</a>
              </div>
            </div>
          </div>
        </div>
      </div>