{% load static %}
{% load sass_tags %}

<div class="col-xl-6 xl-60 col-lg-12 col-md-7 box-col-8">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Pepole You May Know</h5>
        </div>
        <div class="card-body avatar-showcase">
          <div class="pepole-knows">
            <ul>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/2.png'%}"><span class="d-block">Jason Borne</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/3.png'%}"><span class="d-block">Anna Mull</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/3.jpg'%}"><span class="d-block">Dion Cast</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/4.jpg'%}"><span class="d-block">Karlene Lex</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/8.jpg'%}"><span class="d-block">Vella Chism</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/10.jpg'%}"><span class="d-block">Wai Schalk</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
              <li>
                <div class="add-friend text-center"><img class="img-60 img-fluid rounded-circle" alt=""
                    src="{% static 'assets/images/user/14.png'%}"><span class="d-block">Karlene Lex</span>
                  <button class="btn btn-primary btn-xs">Add Friend</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header social-header">
          <h5> <span>Hobbies and Interests</span><span class="pull-right"><i data-feather="more-vertical"></i></span>
          </h5>
        </div>
        <div class="card-body">
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600 mb-2 d-block">Hobbies:</span>
                <p>I like to ride the bike to work, swimming, and working out. I also like reading design magazines, go
                  to museums, and binge watching a good tv show while it’s raining outside.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600 mb-2 d-block">Favourite Music Bands /
                  Artists:</span>
                <p>Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</p>
              </div>
            </div>
          </div>
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600 mb-2 d-block">Favourite TV Shows:</span>
                <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600 mb-2 d-block">Favourite Books:</span>
                <p>The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst
                  Gods, The Oracle, A Tale of Air and Water.</p>
              </div>
            </div>
          </div>
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600 mb-2 d-block">Favourite Movies:</span>
                <p>Idiocratic, The Scarred Wizard and the Fire Crown, Crime Squad Ferrum Man.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600 mb-2 d-block">Favourite Writers:</span>
                <p>Martin T. Georgeston, Jhonathan R. Token, Ivana Rowle, Alexandr Platt, Marcus Roth.</p>
              </div>
            </div>
          </div>
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600 mb-2 d-block">Favourite Games:</span>
                <p>The First of Us, Assassin’s Squad, Dark Assylum, NMAK16, Last Cause 4, Grand Snatch Auto.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600 mb-2 d-block">Other Interests:</span>
                <p>Swimming, Surfing, SEasy Law Diving, Anime, Photography, Tattoos, Street Art.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header social-header">
          <h5> <span>Education and Employement</span><span class="pull-right"><i
                data-feather="more-vertical"></i></span></h5>
        </div>
        <div class="card-body">
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600">The New College of Design</span>
                <p>2001 - 2006</p>
                <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600">Digital Design Intern</span>
                <p>2006-2008</p>
                <p>Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the
                  clients.</p>
              </div>
            </div>
          </div>
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600">Rembrandt Institute</span>
                <p>2008</p>
                <p>Five months Digital Illustration course. Professor: Leonardo Stagg.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600">UI/UX Designer</span>
                <p>2001 - 2006</p>
                <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</p>
              </div>
            </div>
          </div>
          <div class="row details-about">
            <div class="col-sm-6">
              <div class="your-details"><span class="f-w-600">The Digital College</span>
                <p>2010</p>
                <p>6 months intensive Motion Graphics course. After Effects and Premire. Professor: Donatello Urtle.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="your-details your-details-xs"><span class="f-w-600">The New College of Design</span>
                <p>2008 - 2013</p>
                <p>UI/UX Designer for the “Daydreams” agency.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>