{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}


<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "forms-table/forms/form-widgets/select2/components/select-2.html" %}
            {% include "forms-table/forms/form-widgets/select2/components/outline-color.html" %}
            {% include "forms-table/forms/form-widgets/select2/components/full-colored.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/select2/select2.full.min.js'%}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}