{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container">
        {% include "layout/breadcrumb.html" %}
        <div class="row">
            {% include "applications/ecommerce/invoice-template/components/invoice.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/counter/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'assets/js/counter/jquery.counterup.min.js'%}"></script>
<script src="{% static 'assets/js/counter/counter-custom.js'%}"></script>
<script src="{% static 'assets/js/print.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}