{% extends "base.html" %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
    
    <!-- Container-fluid starts                    -->
    <div class="container-fluid">
        {% include "layout/breadcrumb.html" %}
        {% include "components/buttons/button-list/raised.html" %}
    </div>
    <!-- Container-fluid Ends-->
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js'%}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js'%}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}