<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-3">Deferred rendering for speed</h5><span>The example below shows DataTables with deferred rendering
        enabled. For this small example you'll likely notice no difference, but larger tables can benefit significantly
        from simply enabling this parameter.</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="display datatables" id="render-datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>