<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-3">Orthogonal data</h5><span>In this example the Ajax source returns an array of objects, which
        DataTables uses to display the table. The structure of the row's data source in this example is:</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="display datatables" id="orthogonal-data">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>