{% extends 'base-other-page.html' %}







































































{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/sweetalert2.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

{% include "pages/others/authentication/login-sa-validation/components/login-sa-validation.html" %}

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}