{% load static %}
{% load sass_tags %}
<!-- Page Sidebar Start-->
<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
  <div>
    <div class="logo-wrapper"><a href="/"><img class="img-fluid for-light" src="{% static 'assets/images/logo/logo.png' %}" alt=""><img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo_dark.png'%}" alt=""></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn"><a href="/"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a>
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6>Dashboard</h6>
            </div>
          </li>
          <li class="sidebar-list">
            <label class="badge badge-light-primary">4</label><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-home"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-home"></use>
              </svg><span>Overview              </span></a>
            <ul class="sidebar-submenu">
              <li><a href="#">Notifications</a></li>
              <li><a href="#">Recent Activities</a></li>
            </ul>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6>Overview</h6>
            </div>
          </li>

          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-project"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-project"></use>
              </svg><span>Document Management                </span></a>
            <ul class="sidebar-submenu">
              <li><a href="{% url 'lawyer_document_create' %}">Document Creation</a></li>
              <li><a href="{% url 'document_list' %}">Document List</a></li>
              <li><a href="{% url 'lawyer_document_storage' %}">Document Storage</a></li>
              <li><a href="{% url 'lawyer_document_sharing' %}">Document Sharing</a></li>
              <li><a href="{% url 'lawyer_document_table_collaboration' %}">Collaboration</a></li>
              <li><a href="{% url 'lawyer_document_table_review' %}">Review and Approval</a></li>
              <li><a href="{% url 'lawyer_document_table_search' %}">Document Search</a></li>
              <li><a href="{% url 'lawyer_document_table_automation' %}">Automation</a></li>
              <li><a href="{% url 'lawyer_document_table_import_export' %}">Import and Export</a></li>
            </ul>
          </li>
          
          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-board"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-board"></use>
              </svg><span>Case Management               </span></a>
            <ul class="sidebar-submenu">
              <li><a href="/projects">Case Overview</a></li>
              <li><a href="/projectcreate">Case Details</a></li>
              <li><a href="#">Task Management</a></li>
              <li><a href="/projects">Appointments and Deadlines</a></li>
              <li><a href="/projectcreate">Client Communication</a></li>
              <li><a href="/projects">Time Tracking and Billing</a></li>
              <li><a href="/projectcreate">Case Notes</a></li>
              <li><a href="#">Case Collaboration</a></li>
              <li><a href="/projects">Evidence Management</a></li>
              <li><a href="/projectcreate">Case Status and Updates</a></li>
              <li><a href="/projects">Reports and Analytics</a></li>
              <li><a href="/projectcreate">Legal Research</a></li>
              <li><a href="#">Case Archiving</a></li>
              <li><a href="/projects">Contact Management</a></li>
            </ul>
          </li>

          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-ecommerce"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-ecommerce"></use>
              </svg><span>Client Management</span></a>
            <ul class="sidebar-submenu">
              <li><a href="/product_cards">Client Overview</a></li>
              <li><a href="/product_page">Client Profiles</a></li>
              <li><a href="/product_cards">Client Communication</a></li>
              <li><a href="/product_page">Appointments and Meetings</a></li>
              <li><a href="/product_cards">Client Documents</a></li>
              <li><a href="/product_page">Client Tasks and To-Dos</a></li>
              <li><a href="/product_cards">Client Feedback and Satisfaction</a></li>
              <li><a href="/product_page">Client Analytics</a></li>
              <li><a href="/product_cards">Client Onboarding</a></li>
              <li><a href="/product_page">Client Segmentation</a></li>
              <li><a href="/product_page">Client Portal</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-email"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-email"></use>
              </svg><span>Analytics and Reporting</span></a>
            <ul class="sidebar-submenu">
              <li><a href="/email_application">Overview Dashboard</a></li>
              <li><a href="/email_compose">Case Analytics</a></li>
              <li><a href="/email_application">Client Analytics</a></li>
              <li><a href="/email_compose">Financial Analytics</a></li>
              <li><a href="/email_application">Document Analytics</a></li>
              <li><a href="/email_compose">Time Tracking Reports</a></li>
              <li><a href="/email_application">Task and Project Management</a></li>
              <li><a href="/email_compose">User Performance Analytics</a></li>
              <li><a href="/email_compose">Compliance and Audit Reports</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-chat"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-chat"></use>
              </svg><span>Documents and Compliance</span></a>
            <ul class="sidebar-submenu">
              <li><a href="/chat_app">Document Library</a></li>
              <li><a href="/chat_video">Document Creation and Templates</a></li>
              <li><a href="/chat_app">Document Collaboration</a></li>
              <li><a href="/chat_app">Document Review and Approval</a></li>
              <li><a href="/chat_app">Document Security and Access Control</a></li>
              <li><a href="/chat_app">Compliance Management</a></li>
              <li><a href="/chat_app">Legal Research Integration</a></li>
              <li><a href="/chat_app">Document Automation</a></li>
              <li><a href="/chat_app">Document Import and Export</a></li>
              <li><a href="/chat_app">Document Expiry and Archiving</a></li>
              <li><a href="/chat_app">Compliance Training and Resources</a></li>
              <li><a href="/chat_app">Compliance Reporting</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
            <svg class="stroke-icon">
              <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-chat"></use>
            </svg>
            <svg class="fill-icon">
              <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-chat"></use>
            </svg><span>To-Do List</span></a>
          <ul class="sidebar-submenu">
            <li><a href="/chat_app">Documents</a></li>To-Do
          </ul>
        </li>
          
          
          <li class="sidebar-main-title">
            <div>
              <h6>Profile</h6>
            </div>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/sample_page">
              <svg class="stroke-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-sample-page"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-sample-page"></use>
              </svg><span>Edit Profile</span></a>
          </li>
          
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/sample_page">
                <svg class="stroke-icon">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-faq"></use>
                </svg>
                <svg class="fill-icon">
                  <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-faq"></use>
                </svg><span>FAQ</span></a>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/sample_page">
            <svg class="stroke-icon">
              <use href="{% static 'assets/svg/icon-sprite.svg'%}#stroke-faq"></use>
            </svg>
            <svg class="fill-icon">
              <use href="{% static 'assets/svg/icon-sprite.svg'%}#fill-faq"></use>
            </svg><span>Submit Feedback</span></a>
      </li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
  </div>
</div>
<!-- Page Sidebar Ends-->