{% extends 'base-other-page.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}  <!-- Load crispy forms tags -->

{% block content %}

<div class="row m-0">
    <div class="col-12 p-0">    
        <div class="login-card">
            <div>
                <div>
                    <a class="logo" action="{% url 'signup_home' %}" href="#">
                        <img class="img-fluid for-light" src="{% static 'assets/images/logo/logo.png' %}" alt="loginpage">
                        <img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo_dark.png' %}" alt="loginpage">
                    </a>
                </div>
                <div class="login-main"> 
                    <form class="theme-form" method="post" action="{% url 'signup_home' %}">
                        {% csrf_token %}
                        <h4>Create your account</h4>
                        <p>Enter your personal details to create an account</p>
                        {{ form|crispy }}  <!-- Use crispy to render the form fields -->

                        <div class="form-group mb-0">
                            <div class="checkbox p-0">
                                <input id="checkbox1" type="checkbox">
                                <label class="text-muted" for="checkbox1">Agree with
                                    <a class="ms-2" href="#">Privacy Policy</a>
                                </label>
                            </div>
                            <button class="btn btn-primary btn-block w-100" type="submit">Create Account</button>
                        </div>

                        <h6 class="text-muted mt-4 or">Or signup with</h6>
                        <div class="social mt-4">
                            <div class="btn-showcase">
                                <a class="btn btn-light" href="https://www.linkedin.com/login" target="_blank">
                                    <i class="txt-linkedin" data-feather="linkedin"></i> LinkedIn
                                </a>
                                <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                                    <i class="txt-twitter" data-feather="twitter"></i> Twitter
                                </a>
                                <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                                    <i class="txt-fb" data-feather="facebook"></i> Facebook
                                </a>
                            </div>
                        </div>

                        <p class="mt-4 mb-0">Already have an account?
                            <a class="ms-2" href="{% url 'login_home' %}">Sign in</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
