{% load static %}

<!-- Zero Configuration  Starts-->
<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0 card-no-border">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h3>Appointments</h3>
          <span>Below is a list of appointments managed within the system.</span>
        </div>
        <div>
          <a href="{% url 'appointment_create' %}" class="btn btn-primary">Create Appointment</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Display any messages -->
      {% if messages %}
      <div class="alert alert-info">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
      {% endif %}
      <div class="table-responsive">
        <table class="display" id="basic-1">
          <thead>
            <tr>
              <th>Title</th>
              <th>Client</th>
              <th>Date</th>
              <th>Location</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
            <tr>
              <td>{{ appointment.title }}</td>
              <td>{{ appointment.client.first_name }} {{ appointment.client.surname }} ({{ appointment.client.email }})</td>
              <td>{{ appointment.date }}</td>
              <td>{{ appointment.location }}</td>
              <td>{{ appointment.status }}</td>
              <td> 
                <ul class="action"> 
                  <li class="edit">
                    <a href="{% url 'appointment_edit' appointment.id %}"><i class="icon-write"></i></a>
                  </li>
                  &nbsp;
                  <li class="delete">
                    <a href="{% url 'appointment_delete' appointment.id %}" onclick="return confirm('Are you sure you want to delete this appointment?');">
                      <i class="icon-trash"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Zero Configuration  Ends-->

<!-- Include the necessary DataTable JS -->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#basic-1').DataTable();
  });
</script>
