{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/daterange-picker.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            {% include "forms-table/forms/form-widgets/daterangepicker/components/range-picker.html" %}

      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datepicker/daterange-picker/moment.min.js'%}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterangepicker.js'%}"></script>
<script src="{% static 'assets/js/datepicker/daterange-picker/daterange-picker.custom.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}