{% load static %}
{% load sass_tags %}
<div class="card-body">
  <div class="my-gallery row grid gallery-with-description" id="aniimated-thumbnials" itemscope="">
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/1.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/1.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title 1</h4>
          <p>Here is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/2.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/2.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/3.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/3.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/4.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/4.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/5.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/5.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/6.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/6.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/8.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/8.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/9.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/9.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/10.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/10.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/11.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/11.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/12.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/12.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/14.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/14.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/15.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/15.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
    <figure class="grid-item col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope=""><a
        href="{% static 'assets/images/big-masonry/13.jpg' %}" itemprop="contentUrl" data-size="1600x950"><img
          class="img-thumbnail" src="{% static 'assets/images/masonry/13.jpg' %}" itemprop="thumbnail"
          alt="Image description">
        <div class="caption">
          <h4>Portfolio Title</h4>
          <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy.</p>
        </div>
      </a>
      <figcaption itemprop="caption description">
        <h4>Portfolio Title</h4>
        <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy.</p>
      </figcaption>
    </figure>
  </div>
</div>