{% load static %}
{% load sass_tags %}

<div class="col-xl-12 xl-50 box-col-6">
  <div class="card b-r-5">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon8" aria-expanded="true"
          aria-controls="collapseicon8">Followers</button>
      </h5>
    </div>
    <div class="collapse show" id="collapseicon8" aria-labelledby="collapseicon8" data-bs-parent="#accordion">
      <div class="card-body social-list filter-cards-view">
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/2.png'%}">
          <div class="media-body"><span class="d-block">Bucky Barnes</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/3.png'%}">
          <div class="media-body"><span class="d-block">Sarah Loren</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/3.jpg'%}">
          <div class="media-body"><span class="d-block">Jason Borne</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/10.jpg'%}">
          <div class="media-body"><span class="d-block">Comeren Diaz</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/11.png'%}">
          <div class="media-body"><span class="d-block">Andew Jon</span><a href="#">Add Friend</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 xl-50 box-col-6">
  <div class="card b-r-5">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon11" aria-expanded="true"
          aria-controls="collapseicon11">Followings</button>
      </h5>
    </div>
    <div class="collapse show" id="collapseicon11" aria-labelledby="collapseicon11" data-bs-parent="#accordion">
      <div class="card-body social-list filter-cards-view">
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/3.png'%}">
          <div class="media-body"><span class="d-block">Sarah Loren</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/2.png'%}">
          <div class="media-body"><span class="d-block">Bucky Barnes</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/10.jpg'%}">
          <div class="media-body"><span class="d-block">Comeren Diaz</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/3.jpg'%}">
          <div class="media-body"><span class="d-block">Jason Borne</span><a href="#">Add Friend</a></div>
        </div>
        <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle" alt=""
            src="{% static 'assets/images/user/11.png'%}">
          <div class="media-body"><span class="d-block">Andew Jon</span><a href="#">Add Friend</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 xl-50 box-col-6">
  <div class="card b-r-5">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon9" aria-expanded="true"
          aria-controls="collapseicon9">Latest Photos</button>
      </h5>
    </div>
    <div class="collapse show" id="collapseicon9" data-bs-parent="#accordion" aria-labelledby="collapseicon9">
      <div class="card-body photos filter-cards-view  mb-0">
        <ul class="text-center">
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-1.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-2.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-3.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-4.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-5.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-6.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-7.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-8.png'%}"></div>
          </li>
          <li>
            <div class="latest-post"><img class="img-fluid" alt=""
                src="{% static 'assets/images/social-app/post-9.png'%}"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 xl-50 box-col-6">
  <div class="card b-r-5">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon15" aria-expanded="true"
          aria-controls="collapseicon15">Friends</button>
      </h5>
    </div>
    <div class="collapse show" id="collapseicon15" data-bs-parent="#accordion" aria-labelledby="collapseicon15">
      <div class="card-body avatar-showcase filter-cards-view mb-0">
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/3.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/5.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/1.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/2.png'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/3.png'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/6.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/10.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/14.png'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/1.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/4.jpg'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/11.png'%}" alt="#"></div>
        <div class="d-inline-block friend-pic"><img class="img-50 rounded-circle"
            src="{% static 'assets/images/user/8.jpg'%}" alt="#"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-12 xl-50 box-col-6">
  <div class="card"><img class="img-fluid" src="{% static 'assets/images/social-app/timeline-4.png'%}" alt=""></div>
</div>
</div>
</div>
</div>
</div>
</div>