{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container-fluid">
        {% include "layout/breadcrumb.html" %}

        {% include "applications/ecommerce/list-wish/components/wishlist-1.html" %}
        {% include "applications/ecommerce/list-wish/components/wishlist-2.html" %}
        {% include "applications/ecommerce/list-wish/components/wishlist-3.html" %}

    </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}